
body{
    background-color: #00004d;
    color: antiquewhite;
}
#quiz{
  border: solid;
  border-radius: 10px;
  background-color: #00004d;

}
#quiz > .quiz-form > form > h4{
    font-size: 30px;
    justify-content: center;
    max-width: 70%;
    margin: 30px;
    
}